<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel="stylesheet" href="CSS/font-awesome.min.css">

    <script type="text/javascript" src="JS/dirPagination.js"></script>

    <script type="text/javascript" src="JS/MainCongress.js"></script>

    <link rel="stylesheet" href="CSS/MainCongress.css">

 
</head>
<style>
    

</style>

<body ng-app="myApp">
    
    <div class="container-fluid">
        <div class="row navbar navbar-default" >
            <div class="col-xs-1 vcenter">
                <button class="navbar collapse in" data-toggle="collapse" id="menu-toggle-2"> 
                    <span><i class="fa fa-bars"></i></span>
                </button>
            </div>
            <div class="col-xs-11">
                <p class="text-center"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/logo.png"><span class="h3">Congress API</span></p>
            </div>
        </div>
    </div>

    <div id="canvas">
            <div id="mySidenav">
                <ul class="sidebar-nav nav-stacked nav-default" id="menu">
                    <li role="presentation" class="active">
                        <a href="#output" class="active" aria-controls="#output" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Legislators</a>
                    </li>
                    <li role="presentation">
                        <a href="#outputBill" aria-controls="#outputBill" role="tab" data-toggle="tab"><i class="fa fa-file-o"></i> Bills</a>
                    </li>
                    <li role="presentation">
                        <a href="#outputCommittee" aria-controls="#outputCommittee" role="tab" data-toggle="tab"><i class="fa fa-sign-in"></i> Committees</a>
                    </li>
                    <li role="presentation">
                        <a href="#" aria-controls="#" role="tab" data-toggle="tab"><i class="fa fa-star"></i> Favorites</a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid xyz tab-content">
            <!-- <div id="output" ng-app="myApp" ng-controller="Legislator"> -->
            <div id="output"  ng-controller="Legislator"  role="tabpanel" class="active tab-pane" >
                <div id="tabName">
                <h3>Legislators</h3>
                </div>
                <div class="carousel slide" id="legislator_carousal" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                        <div class="panel-group panel-default">
                        <div class="panel-heading">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#bystate" aria-controls="bystate" role="tab" data-toggle="tab">By State</a>
                                </li>
                                <li role="presentation">
                                    <a href="#byhouse" aria-controls="house" role="tab" data-toggle="tab">House</a>
                                </li>
                                <li role="presentation">
                                    <a href="#bysenate" aria-controls="senate" role="tab" data-toggle="tab">Senate</a>
                                </li>
                            </ul>
                        </div>

                    <!-- Require this div to add all the remaining divs in a single div for tab functionality -->
                    
                    <div class="tab-content clearfix">
                        <!-- Template(view) for Legisator by State -->
                        <div role="tabpanel"  class="tab-pane  active" id="bystate">
                            <div class="panel panel-default panel-body">
                                    <form class="form-inline">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p class="h3">Legislator By State</p>
                                            </div>
                                            <div class="col-xs-3 col-xs-offset-6">
                                                <select ng-model="stateSelector" class="form-control h3">
                                                <option value=""></option>
                                                <option value="Virginia">Virginia</option>
                                                <option value="Washington">Washington</option>
                                                <option value="Ohio">Ohio</option>
                                                </select>
                                            </div>
                                        </div>
                                        <table class="table">
                                        <thead>
                                              <tr>
                                                <th>Party</th>
                                                <th>Name</th>
                                                <th>Chamber</th>
                                                <th>District</th>
                                                <th>State</th>
                                                <th></th>
                                              </tr>
                                        </thead>
                                            <tbody>
                                                <tr dir-paginate="x in parsedJson | filter:{state_name: stateSelector} | orderBy : ['state_name','last_name'] | itemsPerPage: 10">
                                                    <td><img class="partyIcon" ng-src="{{ x.party == 'R' ? 'http://cs-server.usc.edu:45678/hw/hw8/images/r.png' : x.party == 'D' ? 'http://cs-server.usc.edu:45678/hw/hw8/images/d.png' : 'http://independentamericanparty.org/wp-content/themes/v/images/logo-american-heritage-academy.png'}}"></img></td>
                                                    
                                                    <td>{{ x.last_name }}, {{ x.first_name}}</td>
                                                    
                                                    <td><img class="partyIcon" ng-src="{{x.chamber == 'senate' ? 'http://cs-server.usc.edu:45678/hw/hw8/images/s.svg' : x.chamber == 'house' ? 'http://cs-server.usc.edu:45678/hw/hw8/images/h.png' : '' }}">{{ x.chamber == 'house' ? 'House' : x.chamber == 'senate' ? 'Senate' : 'NA'}}</td>
                                                    
                                                    <td>{{ x.chamber == 'senate' ? 'NA' : 'District ' + x.district  }}</td>
                                                    <td>{{ x.state_name }}</td>
                                                    

                                                    <td><button ng-click="getLegislatorDetails(x.bioguide_id)" type="button" class="btn btn-primary" href="#legislator_carousal">View Details</button> </td>
                                                </tr>

                                            </tbody>
                                          </table>
                                    </form>
                        
                    
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                                        </div>
                            </div>
                        </div>
                        <!-- END OF Template(view) for Legisator by State -->


                        
                    </div>
                    <!-- End of divs for all tabs -->

                    
                </div>
                <!-- End of panel-group class -->
                
                </div>
                <!-- End of class active for carousel-->
                
                <!-- Carousel Legislator Details Page -->
                <div class="item" id="LegislatorDetails">
                
                    <div class="panel-group panel-default">
                    <!-- tab-content clearfix -->
                        <div class="tab-content clearfix">
                        <!-- Template(view) for Legisator Detail -->
                            <div role="tabpanel"  class="tab-pane  active">
                                <div class="panel panel-default panel-body">
                                    <div class="row">
                                    <i ng-click="slidePrev()" class="fa fa-chevron-left">Details</i>
                                    </div>
                                    <div class="row"> 
                                    
                                        <div class="col-xs-6">                                            
                                            <div class="col-xs-3">
                                                <img class="img-responsive" ng-src="{{bioguideImg}}"><img>
                                            </div>
                                            <div class="col-xs-3">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ LegisDispName }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ LegisDispEmail }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ LegisDispChamber }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ LegisDispPhone }}</td>
                                                        </tr>
                                                            <tr>
                                                            <td><img class="partyIcon" ng-src="{{LegisDispPartyImg}}">{{ LegisDispPartyNm }}</td>
                                                        </tr>
                                                            
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-6">
                                        <table class="table">
                                        <thead>
                                              <tr>
                                                <th>Chamber</th>
                                                <th>ID</th>
                                                <th>Name</th>
                                              </tr>
                                        </thead>
                                            <tbody>
                                                <tr ng-repeat="x in parsedJsonBioguideCommitte">
                                                    <td>{{ x.chamber.charAt(0).toUpperCase() + x.chamber.substr(1) }}</td>
                                                    
                                                    <td>{{ x.committee_id }}</td>
                                                    
                                                    <td>{{ x.name }}</td>
                                                </tr>

                                            </tbody>
                                          </table>
                                        
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                    <div class="row"> 
                                        <div class="col-xs-6">                                            
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th> Start Term </th>
                                                        <td>{{ LegisDispTermStart | date : "MMM d,yyyy" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> End Term </th>
                                                        <td>{{ LegisDispTermEnd | date : "MMM d,yyyy" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> Term </th>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{LegisDispTerm}}%">
                                                                {{LegisDispTerm}}%
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th> Office </th>
                                                        <td>{{ LegisDispOfc }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> State </th>
                                                        <td>{{ LegisDispState }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> Fax </th>
                                                        <td>{{ LegisDispFax }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> Birthday </th>
                                                        <td>{{ LegisDispBirth | date : "MMM d,yyyy" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> Social Links </th>
                                                        <td>
                                                            <a ng-href="{{LegisTwTId}}" target="_blank">
                                                            <img class="partyIcon" ng-src="{{twitterImg}}">
                                                            
                                                            </a>
                                                            <a class="partyIcon" ng-href="{{LegisFBId}}" target="_blank">
                                                            <img class="partyIcon" ng-src="{{facebookImg}}">
                                                            </a>
                                                            <a ng-href="{{LegisWebSite}}" target="_blank">
                                                            <img class="partyIcon" ng-src="{{ webImg }}" >
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                        
                                        <div class="col-xs-6">
                                        <table class="table">
                                        <thead>
                                              <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Chamber</th>
                                                <th>Bill Type</th>
                                                <th>Congress</th>
                                                <th>Link</th>
                                              </tr>
                                        </thead>
                                            <tbody>
                                                <tr ng-repeat="x in parsedJsonBioguideBill">
                                                    <td>{{ x.bill_id.toUpperCase() }}</td>
                                                    
                                                    <td>{{ x.official_title }}</td>
                                                    
                                                    <td>{{ x.chamber.charAt(0).toUpperCase() + x.chamber.substr(1) }}</td>
                                                    
                                                    <td>{{ x.bill_type }}</td>
                                                    
                                                    <td>{{ x.congress }}</td>
                                                    
                                                    <td><a ng-href ="{{x.last_version.urls.pdf}}">Link</a></td>
                                                </tr>

                                            </tbody>
                                          </table>
                                        
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                        <!-- End Template(view) for Legisator Detail -->
                        </div>
                    <!-- End Of tab-content clearfix -->
                    </div>
                    <!-- End of panel-group panel-default -->
                    
                </div>
                <!-- Carousel Legislator Details Page -->
                </div>
                <!-- End of Carousel class -->
                
                </div>
                <!-- End of Carousel inner with role class -->
            </div>

            </div>
            

            
    </div>

</body>
</html>
